# Server variables
ARCJET_KEY=""
ARCJET_ENV="development"
DATABASE_URL="postgresql://postgres@localhost:5432/nzc"
REDIS_URL="redis://localhost:6379"
EMAIL_CONTACT=""
EMAIL_SUPPORT=""
EMAIL_FROM=""
EMAIL_HOST="smtp.resend.com"
EMAIL_PORT="465"
EMAIL_USERNAME="resend"
EMAIL_PASSWORD=""
BACKEND_URL="http://localhost:8000"
UPLOADTHING_TOKEN=''

# Client variables
PUBLIC_APP_URL="http://localhost:3001"
PUBLIC_ADMIN_URL="http://localhost:7000"
NEXT_PUBLIC_APP_URL="http://localhost:3001"
NEXT_PUBLIC_ADMIN_URL="http://localhost:7000"
PUBLIC_STORE_URL="http://localhost:3000"
NEXT_PUBLIC_BACKEND_URL=""
SKIP_ENV_VALIDATION=0